alpine/_optimization.py
alpine/main_refactor.py
alpine/encoder.py
alpine/utils
alpine/optimization_refactor.py
alpine/legacy/
alpine/refactor
uv.lock

.ruff_cache
.venv
alpine/__pycache__/
alpine/.mypy_cache/
